@using BEAR.Web.Helpers.HTMLHelpers
@{
    ViewBag.Title = "Transfer Requests";
} 

@section Scripts
{
    <script src="@Fingerprint.Tag("/Scripts/Bundles/Award/BrowseTransferRequest/bundle.js")"></script>
    <script src="@Fingerprint.Tag("/Scripts/Workload/TransferRequestTour.js")"></script>
}

<div id="browseTransferRequestsWrapper"></div>